<h1>Products</h1>
<section id="forms">
    <form id="addProductForm">
        <h2>Add new product</h2>
        <input class="controls" type="text" name="title" id="title" placeholder="Title" required>
        <input class="controls" type="text" name="description" id="description" placeholder="Description" required>
        <input class="controls" type="text" name="code" id="code" placeholder="Code" required>
        <input class="controls" type="number" name="price" id="price" placeholder="Price" required>
        <input class="controls" type="number" name="stock" id="stock" placeholder="Stock" required>
        <input class="controls" type="text" name="category" id="category" placeholder="Category" required>
        <button class="buttons" type="submit" id="add" >Add product</button>
    </form>

    <form id="deleteProductForm">
        <h2>Delete product</h2>
        <input class="controls" type="string" name="prodId" id="prodId" placeholder="Product ID" >
        <button class="buttons" type="submit" id="delete">Delete</button>
    </form>
</section>
<section id="products">
    <div id="productsList">
        {{#each products.docs}}
        <div class="container">
            <div class="card">
                <div class="content">
                    <h3>{{title}}</h3>
                    <div class="description">
                        <h4>{{description}}</h4>
                        <p>Code: {{code}}</p>
                        <p>Category: {{category}}</p>
                    </div>
                    <div class="price">
                        <h4>${{price}}</h4>
                    </div>
                    <div class="id">
                        <p>ID product: {{_id}}</p>
                    </div>
                    <a id="addToCart">Add to Cart</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div>
        {{#if products.hasPrevPage}}
            <a class="buttons" href={{prevLink}}>Previous</a>
        {{/if}}
        {{#if products.hasNextPage}}
            <a class="buttons" href={{nextLink}}>Next</a>
        {{/if}}
    </div>
</section>

<script src="/js/products.js"></script>